*{ 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Site{ /* Ovo je podesavanje koje sredjuje izgled pozadine sajta na kojoj se takodje nalazi vec ugradjen logo */
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("art/bgrnd.gif");
}

.homebutt{ /*Podesavanja za Home Button*/
    display: flex;
    justify-content: center;
	flex-direction: row-reverse;
    position: center;
	text-align: center;
    transform:translateY(125%);
    color: white;
    font-size: 72px;
    opacity: 0;
}

#homeButton article{    /*Podesavanja za Home Button*/
    border: solid;
	border-color: blue;
	border-radius: 10px;
    background-color: rgb(219, 11, 98);
    margin: 0px 50px 10px 30px;
}