*{ 
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif, Arial;
}

.Site{ /* Ovo je podesavanje koje sredjuje izgled pozadine sajta na kojoj se takodje nalazi vec ugradjen logo */
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("art/bgrnd.gif");
}

.sadrzaj{ /* Stilizovanje teksta ispod logoa */
    font-size: 40px;
    width: 100%;
    position: absolute;
    top: 45%;
    transform:translateY(-60%);
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75));
}

#main-container{  /*Podesavanje za artikle (Informacije, Zakazi pregled i Cesto postavljena pitanja)*/
	display: flex;
    justify-content: center;
	flex-direction: row-reverse;
	text-align: center;
    transform:translateY(200%);
    color: white;
}

#ButtonContainer article{ /*Takodje podesavanje za artikle (Informacije, Zakazi pregled i Cesto postavljena pitanja)*/
    border: solid;
	border-color: rgb(88, 0, 139);
	border-radius: 10px;
    background-color: rgb(219, 11, 98);
    margin: 10px 50px 10px 30px;
}

.logorad {  /* Podesavanja za logo*/
    display: flex;
    justify-content: center;
    height: 23%;
    transform: translateY(17%);
}

img { /* takodje podesavanja za logo (baguje bez ovoga) */
    height: 100%;
    /* transform: translate(1%, 85%); */
}



